* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    border: 2px red solid;
}

.books {
    border: 2px rgb(25, 0, 255) solid;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.book {
    background-color: bisque;
    text-align: center;
    width: 300px;
    border: 10px solid black;
    font-size: 80px;
}

.book .title {
    background-color: rgb(85, 85, 85);
    color: white;
    font-weight: bold;
}

.formContainer {
    border: solid 3px salmon;
    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    pointer-events: none;
    
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    position: fixed;
    
    transition: opacity 200ms ease;
}

.formContainer.show {
    opacity: 1;
    pointer-events: auto;
}

.form {
    border-radius: 20px;
    padding: 40px;
    width: 600px;
    max-width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background-color: white;
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
}
